* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  letter-spacing: 0%;
  max-width: 1440px;
}
/*----------------common--------------- */
a {
  text-decoration: none;
}
.hero {
  max-width: 100%;
  height: 860px;
  padding: 52px 0;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.menu {
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: center;
  align-items: center;
}
.menu img {
  /* width: 127px; */
  width: 10.85%;
  height: 37px;
  line-height: 37px;
}
.menu .nav {
  /* width: 446px; */
  width: 38.12%;
  height: 24px;
  /* margin-left: 244.43px; */
  margin-left: 20.9%;
  /* line-height: 24px; */
}
.menu .nav .nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list li a {
  color: #2f3a3b;
}
.menu .btn {
  /* width: 200px; */
  width: 17.09%;
  height: 48px;
  display: flex;
  /* margin-left: 177px; */
  margin-left: 15.13%;
}
.menu-btn {
  width: 108px;
  height: 48px;
  line-height: 48px;
  text-align: center;
}
.menu-btn a {
  color: #2f3a3b;
  font-size: 16px;
}
.body {
  width: 100%;
  height: 631px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.body .body-left {
  width: 458px;
  height: 445px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.body .body-left .intro {
  width: 100%;
  height: 21px;
  font-size: 14px;
  color: #767e7e;
  line-height: normal;
}
.body .body-left .title {
  width: 100%;
  height: 144px;
  margin-top: 18px;
  font-size: 62px;
  line-height: 72px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0%;
}
.body .body-left .content {
  width: 374px;
  height: 96px;
  margin-top: 46px;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  color: #9da6a5;
  letter-spacing: 2px;
}
.body .body-left .btn {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  /* background-color: blue; */
  margin-top: 52px;
}
.body .body-left .btn a {
  width: 186px;
  height: 68px;
  background-color: #1ebfc1;
  align-content: center;
  text-align: center;
  border-radius: 14px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  transition: box-shadow 0.3s linear;
}
.body .body-left .btn a:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.19), 0 6px 20px rgba(0, 0, 0, 0.23);
}
.body .body-left .btn canvas {
  width: 62px;
  height: 62px;
  background-color: #fcf3f3ee;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.19) 0px 6px 20px rgba(0, 0, 0, 0.23);
}
canvas:hover {
  transform: scale(1.1);
}
.body-right {
  width: 576px;
  height: 631px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.19) 0px 6px 20px rgba(0, 0, 0, 0.23);
  background-image: url(/assets/images/pexels-andrea-piacquadio-3808822-removebg\ 2.svg);
  background-color: lightblue;
  background-size: cover;
  position: relative;
}
.body-right .card1 {
  width: 157px;
  height: 75px;
  background: #fefefd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0px 6px 20px rgba(0, 0, 0, 0.23);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 18px;
  position: absolute;
  top: 149px;
  left: -40px;
}
.body-right .card1 .card1-img {
  width: 36px;
  height: 40px;
  position: relative;
}
.body-right .card1 .card1-img img {
  width: 36px;
  height: 40px;
}
.body-right .card1 .card1-img::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 28px;
  border-radius: 4px;
  height: 6px;
  top: 28px;
  left: 4px;
}

.body-right .card1 .card1-text {
  width: 55px;
  height: 30px;
  color: #0d1111;
  font-size: 10px;
  font-weight: 500;
  line-height: 15px;
}
.body-right .card2 {
  width: 124px;
  height: 132px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0px 6px 20px rgba(0, 0, 0, 0.23);
  top: 453px;
  left: -65px;
}
.body-right .card2 .card2-text {
  color: #0d1111;
  font-size: 10px;
  font-weight: 500;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: normal;
}
.body-right .card2 .line1,
.line2,
.line3 {
  width: 74px;
  height: 6px;
  background-color: #edf1f5;
  border-radius: 3px;
  position: relative;
}
.body-right .card2 .line1::after,
.body-right .card2 .line3::after {
  content: "";
  background-color: #fb9899;
  position: absolute;
  width: 50%;
  height: 6px;
  top: 0;
  left: 0;
  border-radius: 3px;
}
.body-right .card2 .line2::after {
  content: "";
  background-color: #fb9899;
  position: absolute;
  width: 75%;
  height: 6px;
  top: 0;
  left: 0;
  border-radius: 3px;
}
.line4 {
  width: 26px;
  height: 6px;
  background-color: #edf1f5;
  border-radius: 3px;
}
.card3 {
  width: 207px;
  height: 90px;
  background-color: #fff;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 500px;
  left: 324px;
}
.card3-icons {
  display: flex;
  justify-content: center;
}
.card3-icons .icon {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: -10px;
}
.card3-icons .card3-icons-st {
  background: url("/assets/images/Ellipse 1866.svg") lightgray 50% / cover
    no-repeat;
}
.card3-icons .card3-icons-2nd {
  background: url("/assets/images/Ellipse 1866 (1).svg") yellow 50% / cover
    no-repeat;
}
.card3-icons .card3-icons-3rd {
  background: url("/assets/images/Ellipse 1866 (2).svg") lightpink 50% / cover
    no-repeat;
}
.card3-icons .card3-icons-4th {
  background: url("/assets/images/Ellipse 1866 (3).svg") purple 50% / cover
    no-repeat;
}
.card3-icons .card3-icons-5th {
  background-color: #1ebfc1;
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
  line-height: 33px;
  text-align: center;
  color: #fff;
}
.features {
  width: 1024px;
  height: 559px;
  margin-top: 130px;
}
.features .texts {
  width: 591px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.features .upper {
  width: 95px;
  height: 18px;
  color: #767e7e;
  font-family: Poppins, sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3px;
}
.features .title {
  width: 557px;
  height: 112px;
  font-family: Poppins, sans-serif;
  font-size: 42px;
  font-weight: 700;
  font-style: normal;
  line-height: 56px;
}
.features .content {
  width: 590px;
  height: 54px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 27px;
}
.features .cards {
  width: 100%;
  height: 259px;
  margin-top: 80px;
  display: flex;
}
.features .cards .card1 {
  width: 168px;
  height: 259px;
  margin-right: 209px;
}
.features .cards .card2 {
  width: 223px;
  height: 259px;
  margin-right: 200px;
}
.features .cards .card-3 {
  width: 224px;
  height: 259px;
}
.features .cards .card img {
  width: 102px;
  height: 106px;
}
.features .cards .card .title {
  width: 101px;
  height: 30px;
  color: #0d1111;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  margin-top: 26px;
}
.features .cards .card1 .content {
  width: 168px;
  height: 81px;
  color: #9da6a5;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  margin-top: 16px;
}
.features .cards .card2 .content {
  width: 223px;
  height: 81px;
  color: #9da6a5;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  margin-top: 16px;
}
.features .cards .card-3 .content {
  width: 224px;
  height: 81px;
  color: #9da6a5;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 27px;
  margin-top: 16px;
}

.courses {
  width: 100%;
  height: 778px;
  margin-top: 130px;
}
.courses .courses-texts .courses-texts__upper {
  color: #767e7e;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.courses .courses-texts .courses-texts__title {
  width: 356px;
  height: 63px;
  color: #0d1111;
  font-family: Poppins;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 18px;
}
.courses .courses-texts .courses-texts__content {
  width: 525px;
  height: 64px;
  color: #767e7e;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 177.778% */
  margin-top: 19px;
}
.courses-items {
  display: flex;
  width: 100%;
  height: 517px;
  justify-content: space-between;
  margin-top: 79px;
}
.item {
  width: 359px;
  height: 517px;
  position: relative;
}
.courses-items .item-img {
  background-color: rgba(173, 216, 230, 0.438);
  width: 359px;
  height: 393px;
  overflow: hidden;
  border-radius: 8px;
}
.courses-items .item-img img {
  width: 100%;
  border-radius: 8px;
  height: 100%;
  transition: scale 0.3s linear;
}
.courses-items .item-img img:hover {
  transform: scale(1.1);
}
.item-card {
  width: 325px;
  height: 195px;
  position: absolute;
  top: 322px;
  left: 17px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.19), 0 6px 20px rgba(0, 0, 0, 0.23);
}
.item-card .item-card__title {
  color: #0d1111;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 135px;
  height: 33px;
  margin-top: 18px;
  margin-left: 25px;
}
.item-card .item-card__price {
  color: #767e7e;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 88px;
  height: 33px;
  margin-top: 16px;
  margin-left: 25px;
}
strong {
  color: #0d1111;
  font-family: Poppins;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.item-card .item-card__content {
  width: 218px;
  height: 21px;
  color: #9da6a5;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 6px;
  margin-left: 25px;
}
.item-card .item-card__class {
  display: flex;
  color: #9da6a5;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 18px;
  margin-left: 25px;
  gap: 20px;
}
.class,
.time {
  position: relative;
  padding-left: 16px;
}

.item-card__class .class::before,
.item-card__class .time::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1ebfc1;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
/* JavaScript */
.nav-active {
  /* font-family: Poppins, sans-serif;
  font-weight: 600;
  font-style: normal; */
  /* font-size: 16px; */
  text-shadow: 1px 1px 2px blue;
  position: relative;
  transition: font-weight 0.3s linear;
}
.nav-active::after {
  content: "";
  width: 10px;
  height: 2px;
  background-color: red;
  position: absolute;
  top: 100%;
  left: 0;
  animation: opacity 0.3s linear;
}
.menu-btn__active {
  font-weight: 600;
  font-style: normal;
  border: 1px solid #1ebfc1;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.19), 0px 6px 20px rgba(0, 0, 0, 0.23);
  transition: box-shadow 0.3s linear;
}
.menu-btn__active a {
  color: #1ebfc1;
}
.menu-btn__click {
  animation: click 0.5s linear forwards;
}

@keyframes click {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
